# EXERCICI 1
### seleccionar atribut. calcular p-valor. alpha 5% -> rebutja hipòtesi nul·la?

In [1]:
import pandas as pd
import numpy as np

#descarrega dataframe DelayedFlights

uf = pd.read_csv('lligues_europees_UEFA.csv')
uf

,Rk,Squad,Country,LgRk,MP,W,D,L,GF,GA,...,Pts,Pts/G,xG,xGA,xGD,xGD/90,Last 5,Attendance,Top Team Scorer,Goalkeeper
0,1,Manchester City,ENG,1,37,28,6,3,96,24,...,90,2.43,86.1,26.8,59.3,1.60,W W W W D,52739,Kevin De Bruyne - 15,Ederson
1,2,Liverpool,ENG,2,36,26,8,2,89,24,...,86,2.39,84.6,33.1,51.4,1.43,W W W D W,53367,Mohamed Salah - 22,Alisson
2,3,Real Madrid,ESP,1,37,26,7,4,80,31,...,85,2.30,73.0,45.8,27.2,0.73,W W L W D,40624,Karim Benzema - 27,Thibaut Courtois
3,4,Bayern Munich,GER,1,34,24,5,5,97,37,...,77,2.26,88.1,37.1,51.0,1.50,W W L D D,33176,Robert Lewandowski - 35,Manuel Neuer
4,5,Paris S-G,FRA,1,37,25,8,4,85,36,...,83,2.24,71.6,38.1,33.4,0.90,W D D D W,41188,Kylian Mbapp√à - 25,Keylor Navas
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,94,Bordeaux,FRA,20,37,5,13,19,48,89,...,28,0.76,41.3,68.5,-27.2,-0.73,D L L L D,22083,Hwang Ui-jo - 11,Beno√ìt Costil
94,95,Venezia,ITA,20,37,6,8,23,34,69,...,26,0.70,35.4,70.5,-35.1,-0.95,L L L W D,6705,Thomas Henry - 9,Sergio Romero
95,96,Watford,ENG,19,37,6,5,26,33,75,...,23,0.62,37.8,64.1,-26.3,-0.71,L L L D L,20614,Emmanuel Dennis - 10,Ben Foster
96,97,Norwich City,ENG,20,37,5,7,25,23,79,...,22,0.59,33.0,73.3,-40.4,-1.09,L L L L D,26826,Teemu Pukki - 11,Tim Krul
97,98,Greuther F¬∏rth,GER,18,34,3,9,22,28,82,...,18,0.53,30.7,60.3,-29.6,-0.87,D L D L L,7672,Branimir Hrgota - 9,Sascha Burchert

In [2]:
# info del dataset

uf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98 entries, 0 to 97
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Rk               98 non-null     int64
 1   Squad            98 non-null     object
 2   Country          98 non-null     object
 3   LgRk             98 non-null     int64
 4   MP               98 non-null     int64
 5   W                98 non-null     int64
 6   D                98 non-null     int64
 7   L                98 non-null     int64
 8   GF               98 non-null     int64
 9   GA               98 non-null     int64
 10  GD               98 non-null     int64
 11  Pts              98 non-null     int64
 12  Pts/G            98 non-null     float64
 13  xG               98 non-null     float64
 14  xGA              98 non-null     float64
 15  xGD              98 non-null     float64
 16  xGD/90           98 non-null     float64
 17  Last 5           98 non-null     object
 18  Attendance       98 non-null     int64
 19  Top Team Scorer  98 non-null     object
 20  Goalkeeper       98 non-null     object
dtypes: float64(5), int64(11), object(5)
memory usage: 16.2+ KB

In [3]:
uf.describe() #resum estadístic del dataset

,Rk,LgRk,MP,W,D,L,GF,GA,GD,Pts,Pts/G,xG,xGA,xGD,xGD/90,Attendance
count,98.000000,98.000000,98.000000,98.000000,98.000000,98.00000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000
mean,49.500000,10.316327,36.306122,13.448980,9.408163,13.44898,50.877551,50.877551,0.000000,49.734694,1.370204,48.653061,48.645918,-0.005102,0.000918,24239.857143
std,28.434134,5.706926,1.152390,5.747474,2.903381,5.12347,16.102933,13.634602,26.501896,16.166371,0.443903,12.453950,9.812481,19.992506,0.551414,14874.171842
min,1.000000,1.000000,34.000000,3.000000,3.000000,2.00000,23.000000,24.000000,-56.000000,18.000000,0.530000,28.200000,26.800000,-40.400000,-1.090000,5870.000000
25%,25.250000,5.250000,36.000000,9.000000,7.000000,10.00000,39.000000,40.000000,-17.750000,37.000000,1.000000,39.100000,41.300000,-13.575000,-0.365000,12355.500000
50%,49.500000,10.000000,37.000000,13.000000,9.000000,13.00000,47.000000,50.000000,-1.000000,46.000000,1.300000,46.450000,47.750000,-1.100000,-0.030000,20491.000000
75%,73.750000,15.000000,37.000000,17.000000,11.000000,17.00000,60.000000,59.000000,17.250000,61.750000,1.695000,55.550000,54.700000,12.800000,0.355000,32382.000000
max,98.000000,20.000000,37.000000,28.000000,16.000000,26.00000,97.000000,89.000000,72.000000,90.000000,2.430000,88.100000,73.300000,59.300000,1.600000,73150.000000

In [4]:
# atribut màxima puntuació

mp = uf['MP'] # variable quantitativa discreta
mp.describe()

count    98.000000
mean     36.306122
std       1.152390
min      34.000000
25%      36.000000
50%      37.000000
75%      37.000000
max      37.000000
Name: MP, dtype: float64

In [5]:
import scipy.stats as stats
from scipy.stats import normaltest

print(normaltest(mp))

NormaltestResult(statistic=21.805579213723476, pvalue=1.840681453295863e-05)

In [6]:
# rebutjar H0?

p_value = 1.840681453295863e-05
alpha = 0.05
             
if p_value > alpha:
    print("We DON'T REJECT the null hypothesis H0")
else:
    print("We REJECT the null hypothesis H0")

We REJECT the null hypothesis H0

In [13]:
from scipy.stats import describe

tot=describe(mp)

print(tot)

DescribeResult(nobs=98, minmax=(34, 37), mean=36.30612244897959, variance=1.3280033662949715, skewness=-1.3481995791245402, kurtosis=0.09775573836064)

# EXERCICI 2
### seleccionar 2 atributs. calcular p-valor. alpha 5% -> rebutja hipòtesi nul·la?

In [14]:
# atribut 1, partits guanyats: W
# atribut 2, gols a favor: GF

guany = uf['W']
gols = uf['GF']

from scipy.stats import ttest_ind

resul = ttest_ind(guany, gols)

print(resul)

Ttest_indResult(statistic=-21.670739607759447, pvalue=1.0523838603340441e-53)

In [15]:
p_value = .0523838603340441e-53
alpha = 0.05
             
if p_value > alpha:
    print("We DON'T REJECT the null hypothesis H0")
else:
    print("We REJECT the null hypothesis H0")

We REJECT the null hypothesis H0

In [16]:
vis = describe(resul)

print(vis)

DescribeResult(nobs=2, minmax=(-21.670739607759447, 1.0523838603340441e-53), mean=-10.835369803879724, variance=234.81047757365704, skewness=0.0, kurtosis=-2.0)

# EXERCICI 3
### seleccionar 3 atributs. calcular p-valor. alpha 5% -> rebutja hipòtesi nul·la?

In [17]:
# atribut 1, ranking lliga pais: LgRk
# atribut 2, punts: Pts
# atribut 3, màxima puntuació: MP

from scipy.stats import f_oneway

rl = uf['LgRk']
pt = uf['Pts']
mp = uf['MP']

stat, p = f_oneway(rl, pt, mp)
print('stat=%.3f, p=%.3f' % (stat, p))

if p > 0.05:
    print("We DON'T REJECT the null hypothesis H0")
else:
    print("We REJECT the null hypothesis H0")  

if p > 0.05:
 print('Probably the same distribution')
else:
 print('Probably different distributions')

stat=399.902, p=0.000
We REJECT the null hypothesis H0
Probably different distributions